# INTRODUCCIÓN A LA PROGRAMACIÓN CON PYTHON I

## Módulo 1 - Introducción

### Variables

#### Asignando variables

Una variable es como cuando aprendimos en álgebra que equis "x" es igual a un número desconocido. La diferencia es que aquí conocemos bien ese valor, pero no necesariamente es un número. Puede ser texto, números, booleanos, u otras estructuras de datos más complejas.

In [1]:
x = 3

x <- variable

3 <- valor

In [2]:
x

3

In [3]:
x = 'manzana'   # misma variable pero ahora tiene un valor diferente, que además es texto

In [4]:
print(x)

manzana

In [13]:
x               # Nótese que volvimos a imprimir el valor de x, pero ahora tiene comillas simples.
                # Más adelante veremos estos detalles del texto

'manzana'

In [5]:
x = 4           # misma variable, nuevo valor
y = 1           # "y" también es una variable, pero con diferente valor!

In [6]:
x + y           # dependiendo del "tipo" de variable, podemos hacer ciertas operaciones con ellas

5

In [7]:
print(x)        # nótese como podemos "imprimir" el valor de la variable 
print(y)

4
1

In [8]:
x = y           # asignando el valor de y a la variable x

In [9]:
x

1

In [10]:
y

1

In [18]:
z = True         # Verdadero y Falso son los únicos dos valores booleanos

In [15]:
z = False

In [16]:
z                # Nótese que en Python, siempre van a ir en mayúscula el valor booleano

False

#### ¿Cómo nombrar variables?

In [19]:
## Buenos nombres de variables
segundos = 60
horas = 24
dia = 30

## no tan buenos
x = 60
y = 24
z = 30

In [20]:
# mucho más fácil entender qué es lo que calculamos aquí
print(segundos*horas*dia)

# que lo que estamos calculando acá
print(x*y*z)

43200
43200

In [21]:
e90 = 1

In [26]:
fruta = 'manzana'
fruta

'manzana'

In [33]:
fruta_roja = 'manzana'

In [29]:
fruta_rojá  = 'manzana'

In [31]:
fruta_rojá  = 'manzaná'

### Tipos de datos
Existen varios tipos "fundamentales" de datos:
- *strings*, texto
- *ints*/*integers*, números enteros (-4, 0, 27) 
- *floats*/*doubles*, números reales (también llamados de punto flotante, pero nunca les llamaremos así en el curso; 4.0, 2.000000001)
- *bool/booleans*, booleanos
- *None*, un tipo particular de dato nativo a Python

Hay otros tipos de datos pero por el momento sólo hablaremos de estos.

#### Strings (o sea, texto)
El texto en Python es muy fácil de manipular. Generalmente podemos escribir acentos y cualquier tipo de caracter, pero hay que tener cuidado a la hora de leer y escribir archivos.

Para que un texto sea tal, necesita estar entre comillas simples `'` o dobles `"`.

In [34]:
x = "¡Hola mundo!"

In [35]:
x

'¡Hola mundo!'

In [36]:
## el texto nos permite hacer ciertas operaciones como la concatenación
x = "Hola"
y = "mundo"

x + y     # nótese que no pusimos ningún espacio, el texto se concatenó exactamente como le dijimos

'Holamundo'

In [39]:
x + " " + y     # ahora sí pusimos un espacio con " "

'Hola mundo'

In [40]:
x[0]   # el texto nos cae bien porque podemos extraer pedazos de él. 
       # Esto se llama indexar y lo cubriremos más adelante.
       # Nótese como Python es un lenguaje que empieza a contar desde el cero

'H'

In [41]:
x[1]   # más adelante explicaremos por qué esta sintaxis, pero es una forma de acceder al i-ésimo elemento

'o'

In [42]:
x[1:5] # similar a arriba, pero ahora queremos del 2o al 4o elemento. 
       # Nótese que no es hasta el 5o elemento, más adelante veremos a detalle por qué sucede así

'ola'

In [43]:
x[5:]

''

In [44]:
x[-1]    # ohh, el último valor!

'a'

In [45]:
x[-2]   # Todas estas son formas de acceder al valor en una posición del texto. Cuando lleguemos a las listas,
        # entenderemos mejor cómo acceder a un valor con este tipo de sintaxis

'l'

In [46]:
x[-5:-1]

'Hol'

In [47]:
x[0], x[-1]

('H', 'a')

In [48]:
3*x  ## la multiplicación en este caso es concatenación repetida x veces

'HolaHolaHola'

In [49]:
x[:]

'Hola'

In [37]:
x = hola   ## hola a secas no es texto, es una variable - no olvidemos las comillas para definir texto!

NameError: name 'hola' is not defined

In [38]:
## las comillas triples nos ayudan a hacer textos multilinea
x = """
hola mundo
como estas
tengo hambre
"""

In [39]:
print(x)

hola mundo
como estas
tengo hambre

In [40]:
x = "hola mundo"
print(x)

hola mundo

In [41]:
x           ## ¿Por qué aquí salen comillas y con print() no?

'hola mundo'

In [42]:
x = "El profesor murmuró: "
y = 'Hola mundo'

In [43]:
print(x, y)  ## print nos permite imprimir más de una cosa en pantalla

El profesor murmuró:  Hola mundo

In [44]:
print(x)print(y)

SyntaxError: invalid syntax (<ipython-input-44-2ff1f06abb52>, line 1)

#### Ints/Integers (enteros)

Si recuerdan sus clases de precálculo o cálculo, recordarán que los enteros son números no fraccionales, positivos, negaticos, y el cero. En otras palabras:


<center> $z\in \mathbb{Z}, z\in \{...,-3, -2, -1, 0, 1, 2, 3,...\}$ </center>

In [45]:
x = -2

In [46]:
(x + 3)*2 + 1

3

Ok, breve recordatorio de aritmética y álgebra. ¿Cuál es el orden de operaciones en Python?
    1. Operaciones dentro de paréntesis ()
    2. Logaritmos y exponenciales
    3. Multiplicación y división
    4. Suma y resta

En la operación de arriba, el orden de ejecución es:
    1. (-2 + 3)
    2. (1)*2
    3. 2 + 1

In [47]:
# ¿Cuál es el valor de y aquí abajo?
x = 2
y = x + 3*2 + 1

In [48]:
y

9

In [49]:
# ¿Qué tal ahora?
y = x + 3*(2 + 1)

In [50]:
y

11

In [51]:
# Cualquier número por cero es igual a cero
x = 2
x*0

0

In [53]:
# El exponencial se puede escribir de más de una manera en Python, pero el doble asterisco
# es la más fácil y la que cubriremos por ahora:
x**5

32

In [54]:
# Recordemos el orden de ejecución de operaciones. Primero exponenciales y hasta el final sumas
x**2+1

5

In [55]:
# Una exponencial fraccionada es una raíz i-ésima. En este caso, es equivalente a sacar la raíz cuadrada
# nótese que el valor de esta operación ya no es un entero, sino otro tipo de valor
x**(1/2)

1.4142135623730951

In [56]:
# ¿Recuerdan la división entre cero?
x/0

ZeroDivisionError: division by zero

In [57]:
x = manzana

NameError: name 'manzana' is not defined

Como notarán, el error dice explícitamente "división entre cero". Hay varios tipos de error en Python pero una de las cosas más importantes es aprender a leer y entender los errores.  Si no tuviéramos un error explícito que nos dijera que estamos dividiendo entre cero, talvez nos tardaríamos mucho tiempo en encontrar el error de lo que estamos ejecutando.

In [58]:
## ¿Qué pasará si intentamos hacerle como con el texto, para extraer un valor de un entero?
x = 25
x[0]

TypeError: 'int' object is not subscriptable

No todas las operaciones son válidas para todos los tipos de variables. Cada tipo de dato (enteros, strings, etc.) tiene diferentes operaciones (propiamente llamados "métodos"). Iremos viendo cómo usar cada una de esas operaciones y para qué sirven.

#### Floats/Doubles (números reales)
Todos los números reales no imaginarios. En otras palabras:


<center> $x\in \mathbb{R}, x\in (-\infty, \infty)$ </center> 

1 es real. 2.55 es real. $\pi$ $(3.141592654...)$ es un número real. $\sqrt2$ es real. $1.1111...$ es un número real. $10^{100}$ es real.

Los números enteros los podemos representar con un número real. Sin embargo, hay diferencias detrás de cámaras que hacen esos dos tipos de datos muy diferentes. Las más importantes para nosotros en este punto son:
- Los floats ocupan más memoria que los enteros, así que tardaremos un poco más en hacer operaciones
- La aritmética con floats será frecuentemente inexacta debido a la forma en la que los datos se guardan en la memoria

In [59]:
y = 3.2

In [60]:
y*2

6.4

In [61]:
y*y      # ¿Qué es ese 0000000002 que no debería estar ahí?
         # justo a esto nos referimos con que la aritmética será inexacta con los floats

10.240000000000002

In [62]:
z = (y*10)

In [63]:
z

32.0

In [64]:
z*z       # Por qué ahora no tuvimos ese 00000002 ahí?

1024.0

In [65]:
(z*z)/(10*10)

10.24

In [66]:
y / 2    # la diagonal hace una división normal

1.6

In [67]:
y // 2   # doble diagonal es el cociente de una división normal 
# en este caso, el cociente de 3.2 entre 2 es 1

1.0

In [68]:
y % 2    # esta operación es el residuo o "módulo" 
# en este caso, el cociente de 3.2 entre 2 es 1 y el residuo es 1.2
# nótese que como hicimos operaciones con floats, tenemos otra vez el tema
# de un 000000002 al final del número

1.2000000000000002

In [69]:
x = 1.0
y = 1

In [70]:
x, y       # nótese que para Python, un número decimal automáticamente define un float vs un entero

(1.0, 1)

In [71]:
# float con entero hace float
# entero con entero hace entero
3*x, 3*y

(3.0, 3)

In [72]:
# float con entero hace float
# entero con entero hace entero
x + 1, y + 1

(2.0, 2)

In [73]:
# float con entero hace float
y + x

2.0

In [74]:
# float con entero hace float
x - y

0.0

In [75]:
import math
math.log(10)

## omg qué es esto? *import* es un comando para importar una biblioteca
## una biblioteca es una colección de código que nos ayuda a hacer cosas,
## en este caso, a hacer operaciones matemáticas. Más adelante introduciremos
## otro tipo de bibliotecas.

2.302585092994046

In [76]:
round(math.log(10), 4)

2.3026

#### Booleanos

In [77]:
# Como mencionamos arriba, los booleanos son sólo estos dos valores:
x = True
y = False

In [78]:
# Los booleanos tienen que ser con la primera letra mayúscula, si no, no se identifican como booleanos
x = true

NameError: name 'true' is not defined

In [79]:
print(x)

True

Recordatorio de lógica:
- La función `y` (`and`) lógica se evalúa de la siguiente manera:
    - `True and True = True`
    - `True and False = False`
    - `False and False = False`
    - La función `y` requiere que todo sea verdadero para obtener verdadero. Un solo falso hará que la función se evalúe como falsa.
- La función `o` (`or`) lógica se evalúa de la siguiente manera:
    - `True or True = True`
    - `True or False = True`
    - `False or False = False`
    - La función `o` requiere que al menos un elemento sea verdadero para obtener verdadero. Si todo es falso, entonces obtendremos un falso'

In [80]:
x and x

True

In [81]:
x and y

False

In [82]:
y and y

False

In [83]:
x or y

True

In [84]:
y or y

False

Las comparaciones numéricas también regresan valores lógicos. Las siguientes operaciones se admiten para hacer comparaciones:
- `x > y`, x es mayor que y
- `x < y`, x es menos que y
- `x >= y`, x es mayor o igual que y
- `x <= y`, x es menor o igual que y
- `x == y`, x es igual que y

In [85]:
3 > 1

True

In [86]:
3 >= 1

True

In [87]:
3 < 1

False

Cuando comparamos valores booleanos, en vez de usar el `==`, usamos el operador `is`:

In [88]:
x = True
x is (3 > 1)

True

In [89]:
x is (3 < 1)

False

In [90]:
z = 1
z == 1

True

In [91]:
z == 2

False

In [92]:
x is 1

False

In [93]:
x + 1    # ¡¿Pero qué está pasando aquí?!

2

Python interpreta el valor `True` como 1 en algunas circunstancias. Esto es algo no necesariamente deseable ya que puede tener efectos como lo anterior. Esta es una razón importante para no mezclar tipos de datos.

In [123]:
x is 1

False

In [124]:
1 == True

True

In [110]:
x == 1

True

In [111]:
2*x

2

In [112]:
y = False
2*y

0

Igual que con `True`, Python interpreta `False` como un cero.

In [115]:
y == 0

True

In [117]:
y == 0

True

Recap: Hasta ahora hemos visto 4 tipos de datos "fundamentales": strings, enteros, floats y booleanos.

In [95]:
x = True
type(x)

bool

In [96]:
x = 1
type(x)

int

In [97]:
x = 1.0
type(x)

float

In [98]:
x = '1'
type(x)

str

#### None
Hay un tipo de dato extra en Python que nos ayuda a definir un valor "nulo": el tipo `None`. Este valor es útil cuando queremos definir una variable pero todavía no le queremos asignar ningún valor. Más adelante veremos en qué casos puede sernos útil.

In [99]:
x = None

In [100]:
x is False

False

In [101]:
x is True

False

In [102]:
x == 1

False

In [103]:
x == 0

False

In [104]:
x is None

True

In [105]:
x + 1

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

None acepta ciertas comparaciones pero no operaciones aritméticas. Como vemos, ese último error nos dice que no podemos sumar `None` con `int`.

### Expresiones

Una expresión es código que al ejecutarse, se evalúa. Por ejemplo, `x=1` no se evalúa, se declara ("x es igual al valor 1"). ¿A qué nos referimos con evaluar? A que Python debe hacer alguna operación para llegar a un resultado. A continuación ejemplos:

In [26]:
# Suma/resta, multiplicación/división son ejemplos básicos de expresiones
- 3 + 5*(120/12)

47.0

In [27]:
# Concatenación de strings
3 * 'Hola Mundo!'

'Hola Mundo!Hola Mundo!Hola Mundo!'

In [29]:
nombre = "Xóchitl"                # esto es una declaración, asignamos un valor a una variable
'Hola, me llamo: ' + nombre       # esto es una expresión, porque evaluamos una operación que es concatenación

'Hola, me llamo: Xóchitl'

In [31]:
total = 57.25
"Su total es de $" + str(total)   ## casting! Esta función nos ayuda a convertir variables de un tipo a otro

'Su total es de $57.25'

In [32]:
# una comparación lógica es una evaluación ya que Python intenta decirte si algo es verdadero o no
25 > 5*5

False

In [33]:
25 >= 5*5

True

In [36]:
edad = 25 
edad != 12*2+1

False

In [37]:
# comparación con strings -> orden alfabético basado en lenguaje default en Python (unicode)
"A" > "B"

False

In [38]:
"A" < "B"

True

In [39]:
"A" < "a"

True

In [41]:
## comparando tipos distintos
1 > '1'

TypeError: '>' not supported between instances of 'int' and 'str'

In [59]:
x = '1'
1 == int(x)   # casting de nuevo, para una comparación lógica

# Nota que == es diferente a =
# La sintaxis == es un comparador lógico
# El signo de igual = es sólo para asignar variables

True

In [42]:
x = 25
25.0 == x

True

In [52]:
# recordemos que algunas comparaciones con floats no funcionarán por los problemas de 
# aritmética que suceden con dichos datos 
x = 3.2
x*x == 10.24

False

In [53]:
x*x

10.240000000000002

In [56]:
x = 2.1
x*x == 4.41

True

In [57]:
x*x

4.41

In [106]:
## Ejemplo - debo pagar impuestos? 
## Si eres persona física y ganas más del ingreso mínimo, sí.

# Inputs
salario = 12500
ingreso_min = 10000
persona = 'física'

# Evaluar si debo pagar impuestos
(persona == 'física') and (salario > ingreso_min)

True

In [107]:
## Debo pagar impuestos? 
## Si eres persona física y tus ingresos menos deducciones son más del ingreso mínimo, sí.

# Inputs
salario = 12500
deduccion = 5000
ingreso_min = 10000
persona = 'física'

# Evaluar si debo pagar impuestos
(persona == 'física') and (salario - deduccion > ingreso_min)

False

### Ejercicios
#### ¿Cuál es el valor de w?

In [108]:
x = 12
y = -1
z = 0

w = x*2 - y + 1**z
w

26

#### ¿Cuál es el valor de la variable c?

In [110]:
a = 'Hola'
b = 'Mundo'
c = a[:2] + '__' + b[1:]
c

'Ho__undo'

In [114]:
a[1:]

'ola'

#### ¿Cuál es el valor de la variable d?

In [119]:
a = 1
b = 2.0
c = '7'

d = str((3*a + b/0.5) / int(c))
d

'1.0'

In [118]:
type(str(7))

str

#### Supón que eres un inversionista que quiere comprar Bitcoin (BTC) en México pero sólo tiene dólares (USD) en EUA. Para comprar BTC en México, primero debe convertir sus USD a pesos mexicanos (MXN) y luego comprar BTC. El banco cobra 1% para convertir USD a MXN. Comprar BTC tiene un costo del 0.25% de la transacción. 

#### Escribe abajo código que te ayude a calcular cuántos USD debes transferir a tu cuenta en México para comprar 0.1 BTC. Usa variables para apoyarte en este cálculo.

In [120]:
# input
bitcoin_a_pesos = 216860.59
dolares_a_pesos = 21.69

bitcoin_objetivo = 0.1
bitcoin_buy_fee = 0.0025
usd_to_mxn_fee = 0.01

pesos_necesarios = bitcoin_objetivo*bitcoin_a_pesos*(1 + bitcoin_buy_fee)    # 21740.2741475
dolares_necesarios = pesos_necesarios*(1 + usd_to_mxn_fee)/dolares_a_pesos   # 1012.3410276152605
dolares_necesarios

1012.3410276152605

### Declaraciones (*statements*)

Las declaraciones son las instrucciones para Python. Hay varios tipos de declaraciones:
- Asignación (`x=1`)
- Funcionales (`print("Hola")`)
- Control de flujo (más info abajo)

Los comandos que hemos estado ejecutando hasta ahora también son declaraciones. Hemos asignado variables, ejecutado algunas funciones como `print` y evaluado expresiones como las lógicas; todos estos ejemplos son declaraciones.

La diferencia entre una expresión y una declaración es que la primera evalúa una operación/función, mientras que la declaración se refiere a más tipos de acciones. 

No es necesario que sepamos la diferencia exacta entre una declaración y una expresión, pero en algunos libros encontrarán esta distinción y es importante saber a qué se refiere cada palabra.

#### Condicionales (*if statements*)
Ya hemos visto declaraciones de asginación y algunos ejemplos de funciones. Ahora nos enfocaremos en `statements` de `flow control`. El primer `statement`que veremos son los `if`, llamados condicionales.

In [121]:
ph = 7

if ph > 7:
    print('base')    # 4 espacios!

Los 4 espacios son sintaxis necesaria en Python al escribir varias declaraciones, entre ellas las condicionales . Sin estos 4 espacios, tendremos un error.

In [122]:
if ph > 7:
print('base')

IndentationError: expected an indented block (<ipython-input-122-cba2536d5d58>, line 2)

Nota que el error de este error de sintaxis es muy claro: Indentation Error. Hay que escribir 4 espacios siempre. Hay algunos editores de texto o interpretadores de código que en vez de usar 4 espacios usan el caracter de indentación. Recomendamos usar siempre 4 espacios.

### Nota
Escribir código no es muy diferente a hacer una presentación en PPT, un paper académico, o un oficio gubernamental. Al final del día es lenguaje que debe ser entendido por una máquina, pero también por un ser humano que a veces no somos nosotros. Es muy importante que el código que escribimos siga cierta sintaxis (qué se escribe) y cierto estilo (cómo lo escribimos). Recomendamos seguir la guía de estilo **Python Style Guide: simplified version for beginner programmers** de John Magee: http://www.cs.bu.edu/courses/cs108/guides/style.html . Por ahora puede que no tenga tanto sentido, pero a medida que vayamos aprendiendo a escribir más código, muchas de estas reglas nos serán útiles.

In [123]:
ph = 7.5
if ph > 7:
    print('base')

base

In [124]:
## ¿Qué hacemos si también quiero que me diga si es un ácido?
ph = 7

if ph > 7:
    print('base')
if ph < 7:
    print('ácido')

In [125]:
## ¡Oh no, pero el ph 7 no es ácido ni base, es neutro! ¿Cómo agregamos eso?
ph = 7

if ph > 7:
    print('base')
if ph < 7:
    print('ácido')
if ph == 7:
    print('neutro')

neutro

Yujú! Pero ahora, supongamos que es un experimento y cuando el ph es base, le reducimos a la solución el ph mágicamente en 1; análogamente, cuando el ph es ácido, le subimos el ph en 1. ¿Cómo afectaría eso el ph final?

In [127]:
ph = 7.2

if ph > 7:
    ph = ph - 1
    print(ph)
if ph < 7:
    ph = ph + 1
    print(ph)
    
if ph > 7:
    print('base')
if ph < 7:
    print('ácido')
if ph == 7:
    print('neutro')

6.2
7.2
base

¡Oh no!¿Pero qué está pasando?

In [128]:
ph = 7.2

if ph > 7:
    ph = ph - 1
    print("restando 1", ph)
if ph < 7:
    ph = ph + 1
    print("sumando 1", ph)

print(ph)

restando 1 6.2
sumando 1 7.2
7.2

La solución de estas situaciones, los comandos `else` y `elif`.

In [129]:
ph = 7.2

if ph > 7:
    ph = ph - 1
elif ph < 7:
    ph = ph + 1

print(ph)

# como en este momento la variable ph no cambia, no es necesario usar un elif o else
if ph > 7:
    print('base')
if ph < 7:
    print('ácido')
if ph == 7:
    print('neutro')

6.2
ácido

supongamos que ahora queremos imprimir un mensaje cuando el ph es exactamente 7, ¿cómo lo hacemos?

In [82]:
ph = 7.0

if ph > 7:
    ph = ph - 1
elif ph < 7:
    ph = ph + 1
else:
    print("¡Sin cambios!")

print(ph)

# como en este momento la variable ph no cambia, no es necesario usar un elif o else
if ph > 7:
    print('base')
if ph < 7:
    print('ácido')
if ph == 7:
    print('neutro')

¡Sin cambios!
7.0
neutro

#### Ejercicio
Una máquina tragamonedas tiene la siguiente fórmula para determinar si alguien gana premio:
- La apuesta inicial siempre tiene que ser un número mayor a 0
- La apuesta inicial se divide entre 15
- Se toma la parte entera de la división y si es mayor a 0, se multiplica por (3 + el residuo); si es igual a 0, se le agrega 1.5 y se multiplica por el residuo del paso anterior 

Ejemplo del paso anterior
    - si la apuesta era 2, dividir 2 entre 15 da un cociente entero de 0 y un residuo de 2. Entonces el resultado del paso anterior es 1.5 * 2
    - si la apuesta era 34, dividir 34 entre 15 da un cociente entero de 2 y un residuo de 4. Entonces el resultado del paso anterior es 2 * (3+4)


- Finalmente, si el resultado es divisible entre 7, el jugador gana.


Ejemplo, apuesta inicial: 24.
Apuesta inicial entre 15: 1, residuo 9.
1 * (3 + 9) = 10
El residuo de dividir 10 / 7 no es igual a 0.
El jugador no gana.

In [87]:
apuesta = 24

cociente = apuesta // 15
residuo = apuesta % 15

if cociente > 0:
    rv = cociente * (3 + residuo)
else: 
    rv = (cociente + 1.5)*residuo

if rv % 7 == 0:
    print("¡Ganador!")
else:
    print("Perdedor :(")

Perdedor :(

supongamos que hay un bug en la máquina de apuestas y ocasionalmente lee las apuestas como números negativos. Modifica tu código para que al leer la apuesta, lo cambie a un número positivo.